<div class="onboarding-wrapper">
  
  @if (isSuccess()) {
    <div class="success-message">
      <div class="check-icon"><i class="bi bi-check-lg"></i></div>
      <h2>{{ 'ONBOARDING.SUCCESS.TITLE' | translate }}</h2>
      <p>{{ 'ONBOARDING.SUCCESS.MESSAGE' | translate }}</p>
      <button class="btn-save mt-3" routerLink="/home">{{ 'ONBOARDING.SUCCESS.BUTTON' | translate }}</button>
    </div>

  } @else if (isError()) {
    <div class="error-message">
      <div class="error-icon"><i class="bi bi-exclamation-lg"></i></div>
      <h2>{{ 'ONBOARDING.ERROR.TITLE' | translate }}</h2>
      <p>{{ 'ONBOARDING.ERROR.MESSAGE' | translate }}</p>
      <button class="btn-save mt-3" (click)="retry()">{{ 'ONBOARDING.ERROR.BUTTON' | translate }}</button>
    </div>

  } @else {
    <h2>{{ 'ONBOARDING.FORM.TITLE' | translate }}</h2>
    <p>{{ 'ONBOARDING.FORM.SUBTITLE' | translate }}</p>

    <form (ngSubmit)="onSubmit()" #form="ngForm">
      
      <div class="field">
        <label for="dn">{{ 'ONBOARDING.FORM.DOCUMENT_LABEL' | translate }} *</label>
        <input 
          type="text" 
          id="dn" 
          name="documentNumber" 
          [(ngModel)]="onboardingData.documentNumber" 
          required
          maxlength="9"
          pattern="^[0-9]+$"
          #dn="ngModel"
          [placeholder]="'ONBOARDING.FORM.DOCUMENT_PLACEHOLDER' | translate">
          
        @if (dn.invalid && (dn.dirty || dn.touched)) {
          @if (dn.errors?.['pattern']) {
            <small style="color: #dc3545;">{{ 'ONBOARDING.FORM.DOCUMENT_ERROR' | translate }}</small>
          }
        }
      </div>

      <div class="field">
        <label for="ext">{{ 'ONBOARDING.FORM.EXTENSION_LABEL' | translate }}</label>
        <input 
          type="text" 
          id="ext" 
          name="documentExtension" 
          [(ngModel)]="onboardingData.documentExtension" 
          maxlength="2"
          pattern="^[0-9][A-Z]$"
          #ext="ngModel"
          [placeholder]="'ONBOARDING.FORM.EXTENSION_PLACEHOLDER' | translate">
          
        @if (ext.invalid && (ext.dirty || ext.touched)) {
          <small style="color: #dc3545;">{{ 'ONBOARDING.FORM.EXTENSION_ERROR' | translate }}</small>
        } @else {
          <small>{{ 'ONBOARDING.FORM.EXTENSION_HINT' | translate }}</small>
        }
      </div>

      <button type="submit" [disabled]="!form.valid" class="btn-save">
        {{ 'ONBOARDING.FORM.SUBMIT_BUTTON' | translate }}
      </button>
    </form>
  }

</div>
