<section id="events" class="events-section section-with-bg py-5">
  <div class="container">
    <div class="section-header text-center mb-5">
      <h2>{{ 'UPCOMING_EVENTS.TITLE' | translate }}</h2>
      <p>{{ 'UPCOMING_EVENTS.SUBTITLE' | translate }}</p>
    </div>
    
    @if (featureService.isEnabled(AppFeatures.VIEW_UPCOMING_EVENTS)) {

    <div class="row g-4">

      @for (eventItem of events; track eventItem) {
      <div class="col-12 col-md-6 col-lg-4">
        <app-event-card-component [event]="eventItem"></app-event-card-component>
      </div>
      }

    </div>
    }

    @else {
    <div class="alert alert-info text-center" role="alert">
      {{ 'UPCOMING_EVENTS.FEATURE_DISABLED' | translate }}
    </div>
    }


  </div>
</section>